<div id="card-container">
    <fast-card></fast-card>
</div>
<script type="module">
    import { FASTElement, html } from "https://cdn.jsdelivr.net/npm/@microsoft/fast-element@<%-version-%>/dist/fast-element.min.js";

    export class Card extends FASTElement { }

    FASTElement.define(Card, {
        name: "fast-card",
        template: html`
        <%- include('../card-template.ejs') %>
    `,
    });
</script>