<!-- vanilla javascript map data -->
<div id="container"></div>
<script type="module">
    const data = `<%- JSON.stringify(data) %>`
    const getMarkup = (data) => {
        return data.map((user) => {
           return (
            `<div class="card">
                <h1>
                    ${user.first_name}
                    ${user.last_name}
                </h1>
                <p>
                    ${user.email}
                </p>
                <p>
                    ${user.gender}
                </p>
                <p>
                    ${user.ip_address}
                </p>
                <hr>
                <div>
                    <button>Cancel</button>
                    <button>Ok</button>
                </div>
            </div>`
           ) 
        }).join('')
    }

    const container = document.getElementById('container')
    container.innerHTML = getMarkup(JSON.parse(data))
</script>