<div id="template"></div>
<script type="module">
    import { compileTemplate, HTMLDirective, HTMLBindingDirective } from "https://cdn.jsdelivr.net/npm/@microsoft/fast-element@<%-version-%>/dist/fast-element.min.js";
    const templateLoc = document.getElementById("template")
    export function binding(result = "result") {
        return new HTMLBindingDirective(() => result);
    }

    export function compile(html, directives) {
        const template = document.createElement("template");
        template.innerHTML = html;
        templateLoc.append(template)
        return compileTemplate(template, directives);
    }

    performance.mark("start")
    compile('beginning end', [binding()])
    performance.mark("end")
    performance.measure("<%-scenarioName-%>", "start", "end")

    const duration = performance.getEntriesByType("measure")
    console.log('duration', duration)

</script>