<div id="container">
    <teemo-card title="Card Title" details="Card Details"></teemo-card>
</div>
<script>
    class Card extends HTMLElement {
        constructor() {
            super();

            this.attachShadow({ mode: 'open' });
            const card = document.createElement('div'),
                header = document.createElement('h1'),
                paragraph = document.createElement('p'),
                breakLine = document.createElement('hr'),
                buttonContainer = document.createElement('div'),
                button1 = document.createElement('button'),
                button2 = document.createElement('button')

            button1.textContent = 'Cancel'
            button2.textContent = 'Ok'
            buttonContainer.append(button1, button2)

            header.textContent = this.getAttribute('title')
            paragraph.textContent = this.getAttribute('details')
            card.setAttribute('id', 'card')
            card.append(header, paragraph, breakLine, buttonContainer)

            this.shadowRoot.append(card)
        }
    }
    customElements.define('teemo-card', Card)
</script>