<div id="container">
    <template shadowroot="open">
        <div id="card">
            <h1>Card Title</h1>
            <p>Card Details</p>
            <hr>
            <div>
                <button>Cancel</button>
                <button>Ok</button>
            </div>
        </div>
    </template>
</div>