<div id="container">
    <% for (var i=0; i <100; i++ ) { %>
        <div class="card-container">
            <template shadowroot="open">
                <span>
                    <%= i %>
                </span>
                <%- include('../card-template.ejs') %>
            </template>
        </div>
        <% } %>
</div>