<div id="container">
    <% for (var i=1; i <=100; i++ ) { %>
        <div id="card-container">
            <span>
                <%= i %>
            </span>
            <fast-card></fast-card>
        </div>
        <% } %>
</div>
<script type="module">
    import { FASTElement, html } from "https://cdn.jsdelivr.net/npm/@microsoft/fast-element@<%-version-%>/dist/fast-element.min.js";

    export class Card extends FASTElement { }

    FASTElement.define(Card, {
        name: "fast-card",
        template: html`
        <%- include('../card-template.ejs') %>
    `,
    });
</script>